@import "tailwindcss";
/* //!TODO:  usar una api de productos de tecnología de ejemplo */
@theme {
  /* Color Principal (Botones, Foco): purple-600 */
  --color-primary: #9333ea;

  /* Color Secundario/Acento (Degradados): pink-500 */
  --color-secondary: #ec4899;

  /* Color de Fondo: Manteniendo el color claro */
  --color-background: #f9fafb;

  /* Color de Texto: Manteniendo el color oscuro */
  --color-text: #111827;

  /* Color de Hover: purple-700 (Más oscuro que primary) */
  --color-accent: #7e22ce;

  /* Color Inactivo/Gris: gray-300 */
  --color-inactive: #d1d5db;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
/* bg-purple-600 hover:bg-purple-700 
  from-purple-400 via-pink-500 to-purple-600
  "text-purple-500 font-semibold"
                  : "text-gray-300"
 */
