---
import Layout from "../layouts/Layout.astro";

const pageTitle =
  "Give Store: Carrito de compras - Comprar lo mejor en tecnología";
const pageDescription =
  "La tienda en línea líder para todos tus regalos y tecnología. Envío rápido y seguro. Revisa tu carrito de compras antes de finalizar tu compra.";
---

<Layout title={pageTitle} description={pageDescription}>
  <div>
    <h1 class="bg-background text-text">Cart</h1>
    <p class="bg-secondary">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
      consequuntur assumenda quasi voluptatum, dolore veritatis dolorem tempora
      iure provident sed corporis excepturi velit quae rem! Architecto aliquid
      laborum eaque dolorum?
    </p>
  </div>
</Layout>
