---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <h1 class="bg-background text-text">Cart</h1>
    <p class="bg-secondary">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia
      consequuntur assumenda quasi voluptatum, dolore veritatis dolorem tempora
      iure provident sed corporis excepturi velit quae rem! Architecto aliquid
      laborum eaque dolorum?
    </p>
  </div>
</Layout>
